.header {

}

.header-menu {
  
}

.header-menu-list {
  grid-template-rows: repeat(3, 1fr);
  list-style: circle;
  gap: 34px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000000;
}

.header-menu-item {
  display: inline-flex;
}

.header-logo {
  position: absolute;
  width: 148px;
  height: 105px;
  left: 478px;
  top: 92px;
}

.header-logo-image {
  
}

.header-contacts {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-align: left;
}

.cover {

}

.cover-image {  
}

.cover-title {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30%;
  text-align: left;
  text-transform: uppercase;
  color: rgb(255, 255, 255
}